# Nuxt dev/build outputs
.nuxt
.nitro
.output
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Supabase
supabase/.branches
supabase/.temp

# IDE
.vscode/settings.json

# Testing
coverage
*.lcov

# Temporary files
*.swp
*.swo
*~